body {
    font-family: 'Jost', sans-serif;
    background-color: #f4f5f7;
}

/* header */

header nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header nav ul li {

    display: inline-block;
    padding: 10px;
    cursor: pointer;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}


/* -------START Header Styles------- */
header {
    background-color: white;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    z-index: 9988;

    left: 0;
    top: 0;
    width: 100%;

}

.header-left img {
    padding-left: 30px;
}

header nav li {
    position: relative;
}

header nav>ul>li {
    margin-left: 10px;
}

header nav>ul>li>img {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.profile-li {
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-img {
    margin-right: 5px;
    width: 30px;
    height: 30px;
}

#chevron-down {
    margin-left: 3px;
    width: 15px;
    height: 15px;
}

header p {
    color: #949494;
}

/* END Header Styles */


/* -------START Header Dropdown styles------- */

header nav>ul>li>ul {
    margin-top: 40px;
    background-color: white;
    position: absolute;
    right: 15px;
    width: max-content;
    border-radius: 1px;
    z-index: 1111;
}

header nav>ul>li>ul>li {
    display: block;
}

header nav>ul>li>ul>li>a {
    display: inline-block;
    padding: 10px 20px;
    padding-right: 100px;
}

header nav>ul>li>ul {
    visibility: hidden;
    transition-property: all;
    transition-duration: 0.3s;
    opacity: 0;
    transition-delay: 0.3s;

}

header nav>ul>li:hover>ul {
    visibility: visible;
    opacity: 1;

}

/* END Header Dropdown Styles */

/* -------START Profile Dropdown Styles------- */
.profile-details {
    width: 300px;
    background-color: #f4f5f7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}

.profile-img {
    position: relative;
    right: 20px;

}

.profile-description {

    line-height: 0px;
}

#profile-icons {
    width: 17px;
    height: 17px;
}

.sign-out {
    padding: 20px;
    background-color: #f4f5f7;
    display: flex;
    justify-content: center;

}

/* END Profile Styles */

/* -------START Settings Dropdown Styles------- */
.settings-left {
    display: flex;
    flex-direction: column;
    float: left;
    width: 400px;

}

.settings-right {
    float: right;
    display: flex;
    flex-direction: column;
    width: 400px;
}


.setting-img {

    position: relative;
    top: 15px;
    margin: 10px;
    float: left;

}

.setting-description {
    display: block;
    line-height: 2px;

}

/* END Settings Dropdown Styles */

/* -------START Notifications Dropdown Styles------- */

.notifications-li {
    background-color: #f4f5f7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 250px;
    height: 15px;
    padding: 20px;
}

.notifi-alert {
    color: white;
    font-size: small;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.see-all {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    padding: 20px;
    font-size: small;
}


header span {
    color: blueviolet;
}

.notifi-img {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 10px;
}

/* END Notifications Dropdown Styles */


/* -------START Messages Dropdown Styles------- */

.messages-li {
    background-color: #f4f5f7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 250px;
    height: 15px;
    padding: 20px;

}

.messages-alert {

    color: white;
    font-size: small;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 198, 0);
    width: 20px;
    height: 20px;
    border-radius: 50%;

}

.messages-img {

    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 10px;

}

.messages-description {
    display: block;
    line-height: 2px;
}

.messages-details {
    float: right;
    display: flex;
    align-items: end;


}

#messages-hrs {
    font-size: small;
    color: rgb(0, 198, 0);
}

.no-alert {
    font-size: small;
}

.dot {
    color: white;
    font-size: small;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 198, 0);
    width: 15px;
    height: 15px;
    border-radius: 50%;

}

/* END Messages Dropdown Styles */

#mail:hover {
    box-shadow: 0px 15px 100px -20px gray;
    transition: all 0.5s;
}

#notif:hover {
    box-shadow: 0px 15px 100px -20px gray;
    transition: all 0.5s;
}

#setting:hover {
    box-shadow: 0px 15px 100px -20px gray;
    transition: all 0.5s;
}

#flag:hover {
    background-color: rgb(231, 203, 255);
    color: rgb(91, 12, 165);
}

#prof:hover {
    background-color: rgb(231, 203, 255);
    background-color: rgba(130, 49, 211, 0.125);

}

#prof-a:hover {
    transform: translatex(20px);
    transition: all 0.5s;
    color: #8231D3;
}


/* end-header */










/* start-footer */



.footer-right a{
    text-decoration: none;
    color: gray;
    padding: 20px;
}

.footer-right a:hover{color:#8231D3 ;}

/* -------START Footer Styles------- */
footer{
    background-color: white;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin: 0 auto;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 10px 10px 10px;
   
}

.footer-left span{
    color: blueviolet;
}

.footer-left p{margin-left: 286px;}


/* end-footer */


















/* start menu */

.contaner-menu {
    width: 285px;
    height: 100%;
    background-color: rgb(252, 251, 251);
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 5s;
    float: left;
}


.contaner-menu::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #A0A0A0;
    border-radius: 10px;
    display: none;
}



::-webkit-scrollbar-thumb:hover {
    background-color: #A0A0A0;
    display: block;
    cursor: pointer;
}

.contaner-menu img {
    width: 20px;
}

.contaner-menu * {
    padding-top: 10px;
    margin-top: 10px;
}

.contaner-menu .menu-item span {
    margin-top: 0px;
    position: absolute;
    margin-left: 6.5%;
    font-size: 17px;
    color: #747474
}

.contaner-menu ul li {
    margin-left: -13px;

}

.part-1,
.part-2,
.part-3,
.part-4,
.part-5 {
    margin-top: 19px;
    margin-left: 14px;

}



.menu {
    position: absolute;
    left: 0;
    top: 0;


}

.menu-item ul li {
    list-style: none;
    font-weight: 500;

}

.menu-item {
    font-size: 16px;
}

.menu-item span {
    font-weight: 500;
}


.menu-item img {
    position: relative;
    left: -23px;
    color: #A0A0A0;
}

.menu-item a {
    text-decoration: none;
    color: black;
    font-weight: 500;

}

.menu-item a:hover {
    color: #8231D3;
}

.contaner-menu .menu-item ul li:hover {
    color: #8231D3;
    cursor: pointer;
    transition: all 0.2s;
}



.menu-item ul li {
    color: #000000;
}

.menu-item {
    margin-left: 11px;
}

.menu-item img {
    filter: grayscale(100%);
}


.menu-item img:hover,
.contaner-menu .menu-item ul li:hover {
    filter: none;
    transition: all 0.3s;
}

.active-2 {
    background-color: #8231d320;
    padding-right: 383px;
    position: relative;
    left: -212px;
    border-radius: 100px;
    padding-top: 44px;
}

.active-2 a {
    margin-left: -75px;
    color: #8231D3;
    position: absolute;
    top: -10px;
    left: 288px;
}

.active-2 a:hover {
    color: #8231D3;
}

/* end-menu */



/* start-Add Product */



.contaner-ProductAdd {
    width: 100%;
    height: 2029px;
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 30px;
    margin-top: 200px;

}

.ProductAdd h6 {
    margin-left: 355px;
    position: absolute;
    top: 73px;
    font-size: 25px;
}


.ProductAdd-input {
    background-color: #f8f9fb;
    margin: 0 auto;
    width: 40%;
    height: 1137px;
    border-radius: 17px;
    position: relative;
    top: 20px;
}

.upload {
    width: 40%;
    height: 655px;
    background-color: #f4f5f7;
    margin: 0 auto;
    margin-top: 54px;
    border-radius: 17px;
}

.BG {
    background-color: #ffffff;
    width: 85.33333333%;
    height: 1095px;
    margin: 0 auto;
    border-radius: 11px;
    position: relative;
    top: 22px;
}

.ProductAdd-title h4 {
    border: 1px solid #F1F2F6;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-top: 23px;
    padding-left: 35px;

}

.input-1 input {
    height: 45px;
    width: 80%;

    margin-left: 35px;
    outline: none;
    background: transparent;
    transition: 0.2s ease;
    border: 1px solid #F1F2F6;
    border-radius: 5px;
    font-size: 12px;
}

.input-1 input:focus {
    border: 1px solid #8231D3;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.144);
}

.input-1 p {
    margin-left: 35px;
    font-weight: 500;
}


.input-2 input {
    height: 45px;
    width: 80%;
    margin-left: 35px;
    outline: none;
    background: transparent;
    transition: 0.2s ease;
    border: 1px solid #F1F2F6;
    border-radius: 5px;
    font-size: 12px;
}

.input-2 input:focus {
    border: 1px solid #8231D3;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.144);
}

.input-2 p {
    margin-left: 35px;
    font-weight: 500;
}



.input-3 input {
    height: 45px;
    width: 80%;
    margin-left: 35px;
    outline: none;
    background: transparent;
    transition: 0.2s ease;
    border: 1px solid #F1F2F6;
    border-radius: 5px;
    font-size: 12px;
}

.input-3 input:focus {
    border: 1px solid #8231D3;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.144);
}

.input-3 p {
    margin-left: 35px;
    font-weight: 500;
}

.input-4 input {
    height: 45px;
    width: 80%;
    margin-left: 35px;
    outline: none;
    background: transparent;
    transition: 0.2s ease;
    border: 1px solid #F1F2F6;
    border-radius: 5px;
    font-size: 12px;
}


.input-4 input:focus {
    border: 1px solid #8231D3;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.144);
}

.input-4 p {
    margin-left: 35px;
    font-weight: 500;
}




.input-5 input {
    height: 45px;
    width: 80%;
    margin-left: 35px;
    outline: none;
    background: transparent;
    transition: 0.2s ease;
    border: 1px solid #F1F2F6;
    border-radius: 5px;
    font-size: 12px;
}


.input-5 input:focus {
    border: 1px solid #8231D3;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.144);
}

.input-5 p {
    margin-left: 35px;
    font-weight: 500;
}


.input-6-item {
    display: flex;
    margin-left: 35px;
    margin-top: -11px;
}


.input-6 p {
    margin: 35px;
    font-size: 18px;
    font-weight: 500;
}

.input-7 input {
    height: 125px;
    width: 80%;
    margin-left: 35px;
    outline: none;
    background: transparent;
    transition: 0.2s ease;
    border: 1px solid #F1F2F6;
    border-radius: 5px;
    font-size: 12px;
}

.input-7 input[type="text"]::placeholder {
    position: relative;
    bottom: 40px;
    left: 15px;
}

.input-7 p {
    margin-left: 35px;
    font-weight: 500;
}

.input-7 input:focus {
    border: 1px solid #8231D3;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.144);
}



.input-3 input[type="text"]::placeholder {
    position: relative;
    left: 10px;
}

.input-2 input[type="text"]::placeholder {
    position: relative;
    left: 10px;
}

.input-1 input[type="text"]::placeholder {
    position: relative;
    left: 10px;
}




.input-8 input {
    height: 45px;
    width: 80%;
    margin-left: 35px;
    outline: none;
    background: transparent;
    transition: 0.2s ease;
    border: 1px solid #F1F2F6;
    border-radius: 5px;
    font-size: 12px;
}

.input-8 input:focus {
    border: 1px solid #8231D3;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.144);
}

.input-8 input[type="text"]::placeholder {
    position: relative;
    left: 10px;
}

.input-8 p {
    margin-left: 35px;
    font-weight: 500;
}






.input-9 input {
    height: 45px;
    width: 80%;
    margin-left: 35px;
    outline: none;
    background: transparent;
    transition: 0.2s ease;
    border: 1px solid #F1F2F6;
    border-radius: 5px;
    font-size: 12px;
}

.input-9 input:focus {
    border: 1px solid #8231D3;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.144);
}

.input-9 input[type="text"]::placeholder {
    position: relative;
    left: 10px;
}

.input-9 p {
    margin-left: 35px;
    font-weight: 500;
}


.contaner-upload {
    width: 90%;
    height: 546px;
    background-color: #ffffff;
    margin: 0 auto;
    position: relative;
    top: 62px;
    border-radius: 11px;
}


.upload-title h4 {
    border: 1px solid #F1F2F6;
    height: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 15px;
}



.upload-image {
    width: 80%;
    height: 370px;
    background-color: #f8f9fb;
    border-radius: 10px;
    margin: 0 auto;
}



.upload-image-1 img {
    width: 50px;
    filter: grayscale(100);
}

.upload-image-1 input {
    display: none;
}

.upload-image-1 {
    text-align: center;
    padding-top: 113px;
}

.upload-image-2 {
    text-align: center;
}

.upload-image-2 label {
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}

.upload-image-2 input {
    display: none;
}

.upload-image-3 {
    text-align: center;
}


.Product_image img {
    width: 100px;
    height: 80px;
}



.Product_image {
    margin-top: 142px;
    display: flex;
    margin-left: 3px;
    width: 100%;
    background-color: #ffffff;
}

.Product_image-text {
    margin-left: 11px;
    margin-top: -6px;
}

.ProductAdd-button {
    margin-top: 170px;
    float: right;
}

.cancel {
    width: 98px;
    height: 44px;
    outline: none;
    color: #0a0a0a;
    border-color: transparent;
    background-color: #f4f5f7da;
    border-radius: 4px;
    position: relative;
    left: -12px;
}

.cancel:hover {
    background-color: #e6e6e6;
    cursor: pointer;
    transition: 0.5s;
}

.save {
    width: 130px;
    height: 50px;
    outline: none;
    color: #ffffff;
    border-color: transparent;
    box-shadow: 0 8px 13px rgba(95, 99, 242, .2);
    border-radius: 4px;
    background-color: #8231d3de;
}

.save:hover {
    background-color: rgb(114, 29, 199);
    cursor: pointer;
    transition: 0.5s;
}

.radio span{color: #000000;}

























/* end-Add Product */